{% extends "learn/internal/project.html" %}

{% load static i18n %}

{% block title %}
{{ announcement }}
{% endblock %}

{% block project_breadcrump %}
<li><i class="fa fa-cube pr-10"></i><a href="{% url 'learn:project_home' project.slug %}">{{ project }}</a></li>
<li><i class="fa fa-info-circle pr-10"></i>{{ announcement }}</li>
{% endblock %}

{% block project_body %}
<h1 class="page-title">{{ announcement }}</h1>
<article class="clearfix blogpost full">
	<div class="blogpost-body">
		<div class="side">
			<div class="post-info">
				<span class="day">{{ announcement.created|date:"d" }}</span>
                <span class="month">{{ announcement.created|date:"M Y" }}</span>
			</div>
		</div>
		<div class="blogpost-content">
			<header>
				<div class="submitted"><i class="fa fa-user pr-5"></i> {% trans 'por' %} <a href="#">{{ announcement.created_by }}</a></div>
			</header>
            {{ announcement.text|linebreaks }}
        </div>
	</div>
	<footer class="clearfix">
		<ul class="links pull-left">
			<li><i class="fa fa-comment-o pr-5"></i> <a href="#">{% trans 'Comentários' %}</a> |</li>
			<li>
                <i class="fa fa-tags pr-5"></i>
                {% for tag in announcement.tags.all %}
                <a href="#">{{ tag }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </li>
		</ul>
	</footer>
</article>
{% endblock %}
