{% extends 'accounts/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Alterar a Senha' %}{% endblock %}

{% block accounts_body %}
{% if success %}
<div class="alert alert-success" role="alert">
    {% blocktrans %}<strong>Senha alterada!</strong>. A sua senha foi alterada com sucesso.{% endblocktrans %}
</div>
{% else %}
<form role="form" action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% include "horizontal_form.html" %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">{% trans 'Salvar' %}</button>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
