{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'E-mail verificado com sucesso' %}{% endblock %}

{% block body %}
<div class="page-intro" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'core:index' %}">{% trans 'Início' %}</a></li>
                    <li class="active"><i class="fa fa-user pr-10"></i>{% trans 'E-mail Verificado com sucesso' %}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="main-container" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-6 col-md-offset-3">
                {% if success %}
                <h1 class="title">Seu e-mail foi verificado com sucesso</h1>
                <br>
                <p>Agora a sua conta foi ativada, <a href="{% url 'accounts:login' %}">clique aqui</a> para acessar a plataforma.</p>
                {% else %}
                <h1 class="title">Link expirado ou inválido</h1>
                <br>
                <p>Este link está expirado ou é inválido</p>
                {% endif %}
            </div>
            <!-- main end -->
        </div>
    </div>
</section>
{% endblock %}
