{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Atualizar Dados Básicos' %}{% endblock %}

{% block body %}
<div class="page-intro" style="margin-top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="{% url 'core:index' %}">{% trans 'Início' %}</a></li>
					<li class="active"><i class="fa fa-user pr-10"></i>{% trans 'Confirme o seu E-mail' %}</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<section class="main-container" style="margin-top: 0px;">
	<div class="container">
		<div class="row">
			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-6 col-md-offset-3">
				<h1 class="title">{% trans 'Acesse a sua caixa de e-mail' %}</h1>
				<br>
				{% blocktrans %}
				<p>É preciso confirmar o seu endereço de e-mail, para isto clique no link que foi enviado para o seu e-mail. Caso não tenha recebido, <a href="#">clique aqui</a> para reenviar o e-mail de confirmação.</p>
				{% endblocktrans %}
			</div>
			<!-- main end -->
		</div>
	</div>
</section>
{% endblock %}
