{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Esqueceu a senha' %}{% endblock %}

{% block body %}
{% url 'accounts:reset_password' as reset_password_url %}
<div class="page-intro" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'core:index' %}">{% trans 'Início' %}</a></li>
                    <li class="active"><i class="fa fa-user pr-10"></i>{% trans 'Esqueceu a senha' %}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="main-container" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            {% if success %}

            <div class="main col-md-6 col-md-offset-3">
                <h1 class="title">{% trans 'Acesse a sua caixa de e-mail' %}</h1>
                <br>
                {% blocktrans %}
                <p>É preciso clicar no link enviado para o seu e-mail para criar uma nova senha. Caso não tenha recebido, <a href="{{ reset_password_url }}">clique aqui</a>.</p>
                {% endblocktrans %}
            </div>
            {% else %}
            <div class="col-sm-8 col-sm-offset-2">
                <p>{% trans 'Iremos enviar um e-mail para você com um link para criar uma nova senha.' %}</p>
                <form role="form" action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% include "horizontal_form.html" %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">{% trans 'Enviar E-mail' %}</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
