{% load i18n %}
{% url 'accounts:set_password' reset_password.key as set_password_url %}
{% blocktrans %}
<p>
    Olá <strong>{{ reset_password.user }}</strong>, você está recebendo este e-mail porque solicitou a criação de uma nova senha na plataforma {{ SITE_NAME }}. Para criar a nova senha, acesse o link:
    <br />
    <a href="http://{{ SITE_DOMAIN }}{{ set_password_url }}">http://{{ SITE_DOMAIN }}{{ set_password_url }}</a>
</p>
<p>
    Caso não tenha realizado esta solicitação, por favor ignore este e-mail.
</p>
{% endblocktrans %}
