{% extends "base.html" %}

{% load i18n thumbnail static project_tags %}

{% block title %}
{% trans 'Projetos' %}
{% if current_area %}
| {{ current_area }}
{% endif %}
{% endblock %}

{% block body %}
<div class="page-intro" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'core:index' %}">{% trans 'Início' %}</a></li>
                    {% if current_area %}
                    <li><a href="{% url 'learn:project_list' %}">{% trans 'Projetos' %}</a></li>
                    <li class="active">{{ current_area }}</li>
                    {% else %}
                    <li class="active">{% trans 'Projetos' %}</li>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="main-container" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <!-- sidebar start -->
            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">{% trans 'Áreas de Estudo' %}</h3>
                        <div class="separator"></div>
                        <nav>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{% url 'learn:project_list' %}">{% trans 'Todas as áreas' %}</a></li>
                                {% get_areas as areas %}
                                {% for area in areas %}
                                <li{% if area == current_area %} class="active"{% endif %}><a href="{{ area.get_absolute_url }}" title="{% trans 'Projetos da área:' %} {{ area }}">{{ area }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
            <div class="main col-md-8 col-md-offset-1">
                {% for project in object_list %}
                <div class="col-sm-6 col-xs-12">
                    <div class="listing-item">
						<div class="overlay-container">
							{% if project.photo %}
                            <img src="{{ project.photo|thumbnail_url:'project_photo' }}" alt="{{ project }}" />
                            {% else %}
                            <img src="{% static 'images/portfolio-1.jpg' %}" alt="{{ project }}" />
                            {% endif %}
							<a href="{{ project.get_absolute_url }}" class="overlay small">
								<i class="fa fa-plus"></i>
								<span>{% trans 'Mais detalhes' %}</span>
							</a>
						</div>
						<div class="listing-item-body clearfix">
							<h3 class="title"><a href="{{ project.get_absolute_url }}">{{ project }}</a></h3>
							<p>
							    {{ project.description|truncatewords:"30" }}
							</p>
                            <ul class="elements-list pull-right">
                                {% if project.area %}
                                <li>
                                    <i class="glyphicon glyphicon-link"></i>
                                    <a title="{% trans 'Projetos da área:' %} {{ project.area }}" href="{{ project.area.get_absolute_url }}">{{ project.area }}</a>
                                </li>
                                {% endif %}
                                <li>
                                    <i class="fa fa-tags"></i>
                                    {% for tag in project.tags.all %}
                                    <a href="{% url 'learn:project_list_tag' tag.slug %}" class="wishlist">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </li>
							</ul>
						</div>
					</div>
                </div>
                {% empty %}
                <div class="alert alert-info">
                    {% trans 'Nenhum projeto encontrado' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
